#img {
    text-align: center;
}

$green: #20B2AA;
$red: #FF6347;
$white: #FFFFFF;
$grey: #D3D3D3;

body {
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

@mixin margin-LeftRight{
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

@mixin marginBottom{
   margin-bottom: 0.6rem;
}

.title {
   background-color: $grey;
   padding: 1.2rem;
   text-align: center;
   font-size: 1.2rem;
   margin-top: 0.1rem;
   border-radius: 5px;
   border-bottom: 0.3rem solid darken($grey, 30%);
   width: auto;
   @include margin-LeftRight;
}

.label {
   width: auto;
   font-size: 1.2rem;
   @include margin-LeftRight;
}

h2 {
    text-align:center;
    margin-top: 1.4rem;
}

.textbox {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    @include margin-LeftRight;
    width: 90%;
    @media (min-width: 600px){
       width: 95%;
    }
    @media (min-width: 900px){
        width: 98%;
     }
}

.btn {
   background-color: $green; 
   font-size: 1rem;
   font-weight: bold;
   color: $white;
   padding: 0.8rem;
   border-radius: 5px;
   border: none;
   margin-top: 0.6rem;
   margin-bottom: 0.6rem;
   margin-left: 0.5rem;
   @include marginBottom;
   width: 55%;
   @media (min-width: 600px){
    width: 35%;
   }
   @media (min-width: 900px){
     width: 18%;
   }
   &--annuler {
    background-color: $red;
    margin-bottom: 1.2rem;
   }
   &--ajouter {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
   }
}

.btn:hover {
   background-color: darken($grey, 50%); 
   }

.searchedBook, .favoriteBook {
    background-color: darken($grey, 8%);
    border-radius: 6px;
    font-size: 1rem;
    justify-items: auto;
    margin: 0.5rem;
    padding: 0.8rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    border: 0.2rem solid darken($grey, 20%);
    width: 40%;
    display: inline-block;
    vertical-align: top;
    @media (max-width: 600px) {
       width: 35%;
    }
 
    .bookmark, .deleteBookmark{
       float: right;
       display: flex;
       justify-content: right;
    }
    .titre{
       font-size: 1.5rem;
       font-weight: bold;
       @include marginBottom;
       @media (max-width: 600px) {
          font-size: 0.8rem;
       }
    }
 
    .id{
       font-style: italic;
       @include marginBottom;
       text-align: left;
       font-size: 0.8rem;
       @media (max-width: 600px) {
          font-size: 0.5rem;
    }
    }
    .auteur{
       font-style: italic;
       font-size: 1.2rem;
       @include marginBottom;
       text-align: left;
       @media (max-width: 600px) {
          font-size: 0.6rem;
       }
    }
    .description {
       text-align: justify;
       @include marginBottom;
       @media (max-width: 600px) {
          font-size: 0.6rem;
       }
    }
    .image {
       display: center;
    }
 }